---
import me from "@/assets/me.jpg";

import info from "@/config/info.json";

const links = [
  { label: "Veille", href: "/veille" },
  { label: "Rectorat", href: "/rectorat" },
  // { label: "Réalisations", href: "/rp" },
];
---

<header class="z-50 flex items-center justify-between rounded-lg border p-4">
  <div class="flex items-center gap-x-3">
    <a href="/">
      <img src={me.src} alt="PH" class="animate-heart w-8 rounded-full sm:w-10" />
    </a>
    <div>
      <h1 class="leading-5 font-semibold sm:leading-7">{info.name}</h1>
      <p class="line-clamp-1 text-xs font-light">{info.description}</p>
    </div>
  </div>
  <div class="flex gap-x-3">
    {
      links.map((item) => (
        <a href={item.href} class="text-sm hover:underline">
          {item.label}
        </a>
      ))
    }
  </div>
</header>
