---
import { Github, Linkedin, Mail } from "lucide-astro";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Certification from "@/components/cards/Certification.astro";
import Education from "@/components/cards/Education.astro";
import Experience from "@/components/cards/Experience.astro";
import Interest from "@/components/cards/Interest.astro";
import Lang from "@/components/cards/Lang.astro";
import Skill from "@/components/cards/Skill.astro";
import Title from "@/components/Title.astro";

import resume from "@/config/resume.json";

const socials = [
  { name: "LinkedIn", href: "https://linkedin.com/in/pierrehoulliere", icon: Linkedin },
  { name: "GitHub", href: "https://github.com/wiizzl", icon: Github },
  { name: "Email", href: "mailto:contact@houlliere.com", icon: Mail },
];
---

<BaseLayout title="Accueil">
  <Title>Profil</Title>
  <div class="space-y-3">
    <p class="text-sm">
      Passionné par l'innovation technologique et le développement logiciel, je m'épanouis à explorer de nouveaux langages, frameworks et méthodologies. Curieux et rigoureux, j'aime concevoir des
      solutions élégantes à des problématiques complexes.
    </p>
    <div class="flex gap-x-2">
      {
        socials.map((item) => (
          <a href={item.href} target="_blank" class="text-sm hover:underline">
            <item.icon class="text-muted-foreground hover:text-primary size-4" />
            <span class="sr-only">{item.name}</span>
          </a>
        ))
      }
    </div>
  </div>

  <Title>Formations</Title>
  <div class="space-y-2">
    {resume.educations.map((item) => <Education name={item.name} diploma={item.diploma} endDate={item.endDate} startDate={item.startDate} link={item.link} />)}
  </div>

  <Title>Expériences professionnelle</Title>
  <div class="space-y-2">
    {resume.experiences.map((item) => <Experience name={item.name} description={item.description} endDate={item.endDate} startDate={item.startDate} link={item.link} />)}
  </div>

  <Title>Compétences informatique</Title>
  <div class="space-y-1">
    {resume.skills.map((item) => <Skill category={item.category} items={item.items} />)}
  </div>

  <Title>Certifications</Title>
  <div class="space-y-1">
    {resume.certifications.map((item) => <Certification name={item.name} date={item.date} link={item.link} />)}
  </div>

  <Title>Centres d'intérêt</Title>
  <div class="space-y-2">
    {resume.interests.map((item) => <Interest name={item.name} description={item.description} />)}
  </div>

  <Title>Langues</Title>
  <div class="space-y-1">
    {resume.langs.map((item) => <Lang name={item.name} level={item.level} />)}
  </div>
</BaseLayout>
