---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";

import veille from "@/config/veille.json";

const posts = await getCollection("veille");
---

<BaseLayout title="Veille" class="space-y-5">
  <div class="text-muted-foreground space-y-3">
    <Section title={`Thème de veille : ${veille.theme}`} content={veille.description} />
    <Section title="Outils de veille" content={veille.tools.map((item) => `${item.name} : ${item.description}`)} />
    <Section title="Bornage" content={veille.boundaries.map((item) => `${item.name} : ${item.description}`)} />
  </div>
  <nav>
    {posts.map((item) => <Card id={item.id} title={item.data.title} date={item.data.date} />)}
  </nav>
</BaseLayout>
