---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Article from "@/components/cards/Article.astro";
import Title from "@/components/Title.astro";

import veille from "@/config/veille.json";

const posts = await getCollection("veille");
---

<BaseLayout title="Veille">
  <Title>{veille.theme}</Title>
  <p class="text-sm">{veille.description}</p>

  <Title>Outils de veille</Title>
  <div class="space-y-2">
    {
      veille.tools.map((item) => (
        <div>
          <h3 class="text-sm">- {item.name}</h3>
          <p class="text-xs text-muted-foreground">{item.description}</p>
        </div>
      ))
    }
  </div>

  <Title>Bornage</Title>
  <div class="space-y-2">
    {
      veille.boundaries.map((item) => (
        <div>
          <h3 class="text-sm">- {item.name}</h3>
          <p class="text-xs text-muted-foreground">{item.description}</p>
        </div>
      ))
    }
  </div>

  <Title>Mise en oeuvre</Title>
  <div class="space-y-2">
    <p class="text-sm">{veille.implementation.description}</p>
    <a href={veille.implementation.link} target="_blank" class="text-sm hover:underline">Accèder au projet</a>
  </div>

  <Title>Articles</Title>
  <nav class="space-y-2">
    {posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()).map((item) => <Article id={item.id} title={item.data.title} date={item.data.date} />)}
  </nav>
</BaseLayout>
