---
import { getCollection } from "astro:content";
import { Folder, Rss } from "lucide-astro";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Article from "@/components/cards/Article.astro";
import Title from "@/components/Title.astro";

import veille from "@/config/veille.json";

const posts = await getCollection("veille");
---

<BaseLayout title="Veille">
  <Title>Thème de Veille : {veille.theme}</Title>
  <div class="space-y-2">
    <p class="text-sm">{veille.description}</p>
    <a href="/veille/rss.xml" target="_blank" class="group flex items-center gap-x-1 text-sm">
      Un
      <span class="group-hover:underline">flux rss</span>
      <Rss class="size-4" /> est mit a disposition pour cette veille.
    </a>
  </div>

  <Title>Outils de veille</Title>
  <div class="space-y-2">
    {
      veille.tools.map((item) => (
        <div>
          <a href={item.href} target="_blank" class="group">
            <h3 class="text-sm group-hover:underline">- {item.name}</h3>
            <p class="text-muted-foreground text-xs">{item.description}</p>
          </a>
        </div>
      ))
    }
  </div>

  <Title>Bornage</Title>
  <div class="space-y-2">
    {
      veille.boundaries.map((item) => (
        <div>
          <h3 class="text-sm">- {item.name}</h3>
          <p class="text-muted-foreground text-xs">{item.description}</p>
        </div>
      ))
    }
  </div>

  <Title>Mise en oeuvre</Title>
  <div class="space-y-2">
    <p class="text-sm">{veille.implementation.description}</p>
    <a href={veille.implementation.link} target="_blank" class="group flex items-center gap-x-1 text-sm">
      <Folder class="size-4" />
      <p class="text-sm group-hover:underline">Accèder au projet</p>
    </a>
  </div>

  <Title>Articles</Title>
  <nav class="space-y-2">
    {posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()).map((item) => <Article id={item.id} title={item.data.title} date={item.data.date} />)}
  </nav>
</BaseLayout>
